server {
  listen 80;
  listen [::]:80;
  server_name _;
  root {{ mediawiki_files_dir }};

  index index.php;

  location / {
    try_files $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php/{{ php_version }}-fpm.sock;
    fastcgi_index index.php;
    include fastcgi.conf;
  }
}
